/*RESET*/
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


/*HEADER*/

header{
    background-color: white;
}

.logo{
    height: 60px;
    vertical-align: middle;
    padding: 10px;
    margin-left: 10px;
}


/*TITOLO*/
h1{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    font-size: 2.5rem;
}



/*MAIN*/
body{
    background-color: #f6f8f9;
}

/*CONTENITORE*/
.contenitore{
    width: 70%;
    margin:0 auto;
}

/*SEZIONE BOTTONI*/
.sezione-bottoni{
    margin-top: 35px;
    padding: 10px 30px;
    width: 100%;
    background-color: red;
}
.bottone{
    padding: 5px 10px;
    border-radius: 8px;
    border: solid 2px;
}
.blu{
    background-color: #47adf1;
    border-color:  #47adf1;
    color: white;
}
.grigio{
    background-color: white;
    color: #d3d8db;
    border-color:  #d3d8db;
}